@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
}

.gradient-text {
  background-image: linear-gradient(to top, #ff2e4a 0%, #ff004c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes text-color-transition {
  0% {
    color: inherit;
  }
  100% {
    color: #ff2e4a;
  }
}

.custom-shape-divider-top-1716576130 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1716576130 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: 50px;
}

.custom-shape-divider-top-1716576130 .shape-fill {
  fill: #ff2e4a;
}

.hero-hover:hover p span {
  animation: text-color-transition 0.5s forwards; /* Faster duration */
}

.hero-hover:hover p span:nth-child(1) {
  animation-delay: 0s;
}

.hero-hover:hover p span:nth-child(2) {
  animation-delay: 0.025s; /* Further reduced delay */
}

.hero-hover:hover p span:nth-child(3) {
  animation-delay: 0.05s;
}

.hero-hover:hover p span:nth-child(4) {
  animation-delay: 0.075s;
}

.hero-hover:hover p span:nth-child(5) {
  animation-delay: 0.1s;
}

.hero-hover:hover p span:nth-child(6) {
  animation-delay: 0.125s;
}

.hero-hover:hover p span:nth-child(7) {
  animation-delay: 0.15s;
}

.hero-hover:hover p span:nth-child(8) {
  animation-delay: 0.175s;
}

.hero-hover:hover p span:nth-child(9) {
  animation-delay: 0.2s;
}

.hero-hover:hover p span:nth-child(10) {
  animation-delay: 0.225s;
}

.hero-hover:hover p span:nth-child(11) {
  animation-delay: 0.25s;
}

.hero-hover:hover p span:nth-child(12) {
  animation-delay: 0.275s;
}

.hero-hover:hover p span:nth-child(13) {
  animation-delay: 0.3s;
}

.hero-hover:hover p span:nth-child(14) {
  animation-delay: 0.325s;
}

.hero-hover:hover p span:nth-child(15) {
  animation-delay: 0.35s;
}

.hero-hover:hover p span:nth-child(16) {
  animation-delay: 0.375s;
}

.hero-hover:hover p span:nth-child(17) {
  animation-delay: 0.4s;
}

.hero-hover:hover p span:nth-child(18) {
  animation-delay: 0.425s;
}

.hero-hover:hover p span:nth-child(19) {
  animation-delay: 0.45s;
}

.hero-hover:hover p span:nth-child(20) {
  animation-delay: 0.475s;
}

.hero-hover:hover p span:nth-child(21) {
  animation-delay: 0.5s;
}

.hero-hover:hover p span:nth-child(22) {
  animation-delay: 0.525s;
}

.hero-hover:hover p span:nth-child(23) {
  animation-delay: 0.55s;
}

.hero-hover:hover p span:nth-child(24) {
  animation-delay: 0.575s;
}

.hero-hover:hover p span:nth-child(25) {
  animation-delay: 0.6s;
}

.main__btn {
  display: inline-flex; /* Ensure the button respects the padding and centers text */
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #ff2e4a;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  text-decoration: none; /* Ensure no underline for link */
  outline: none;
  overflow: hidden; /* Ensure the after pseudo-element stays within the button */
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #c02237;
  transition: all 0.35s;
  border-radius: 4px;
  z-index: 0; /* Ensure the pseudo-element is behind the text */
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__btn span {
  position: relative;
  z-index: 1; /* Ensure the text is above the pseudo-element */
}

.scroller {
  max-width: 56rem;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2rem));
  }
}

.move-up {
  position: relative;
  top: 1px;
}

.font-c {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 2;
}

/* .custom-shape-divider-bottom-1718683941 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718683941 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1718683941 .shape-fill {
  fill: #ff2e4a;
} */

.small-dot {
  font-size: 10px; /* Adjust the size as needed */
}
.square {
  width: 42px; /* Same as button height */
  height: 42px; /* Same as button height */
  background-color: #ff2e4a;
  border-radius: 4px;
  margin-left: 8px; /* Small gap between button and square */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
